MNEMONIC = "your words here"
NETWORK = "test"

# Path to SSH public key
SSH_KEY_PATH = "~/.ssh/id_rsa.pub"

# The cluster name will be used as a prefix for each VM host name. If you have
# multiple clusters sending data to the same Prometheus instance, then unique
# cluster names should be used to ensure each hostname is unique
CLUSTER_NAME = "mycluster"

# IP type to use in ansible inventory for SSH (ipv6 or wireguard)
IP_TYPE = "ipv6"

# Node IDs to deploy VMs on
NODE_IDS = [1, 2, 3]

# Whether to add WireGuard access via a gateway
WG_ACCESS = True

# VM specifications
FLIST = "https://hub.grid.tf/tf-official-vms/ubuntu-24.04-latest.flist"
CPU = 1
RAM = 2048  # MB
ROOTFS = 1024 * 15  # MB
MYCELIUM = True
PLANETARY = True
IPV6 = True
