MNEMONIC = "your words here"
NETWORK = "test"

# Path to SSH public key
SSH_KEY_PATH = "~/.ssh/id_rsa.pub"

# IP type to use in ansible inventory for SSH (ipv6 or wireguard)
IP_TYPE = "ipv6"

# Node IDs to deploy VMs on
NODE_IDS = [1, 2, 3]

# VM specifications
FLIST = "https://hub.grid.tf/tf-official-vms/ubuntu-24.04-latest.flist"
CPU = 1
RAM = 2048  # MB
ROOTFS = 1024 * 15  # MB
MYCELIUM = True
PLANETARY = True
IPV6 = True
